.content-wrapper {
    display: flex;
  }

.left-content {
    float: left;
    width: 50%;
    flex: 1;
  }
  
.right-content {
    float: right;
    width: 50%;
    flex: 1;
  }

/* .app {
   display: grid;
   grid-template-columns: 1fr 1fr;
    
} */

 /* .rounded-rectangle{
  position: relative;
  width: 486px;
  height: 267px;
  border-radius: 40px;
  background-color: rgba(7, 9, 36, 0.24);
  text-align: center;
 
}  */