
.adminlogin-form.Adminlogin{
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}
.adminlogin-form.adminloginbox{
    align-content: center;

}